services:
  - type: web
    name: student-management
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn main:app
    envVars:
      - key: FLASK_ENV
        value: production
      - key: DB_HOST
        sync: false
      - key: DB_USER`
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: DB_NAME
        sync: false
      - key: SECRET_KEY
        value: abc123
    preDeployCommand: python app/database/init_db.py
